/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mobile "spark.skins.mobile.*";

s|ViewNavigator {
	fontSize: 20px;
}

s|ButtonBarButton {
	fontSize: 20px;
}

s|List {
	fontSize: 20px;	
}

s|Button {
	fontSize: 20px;
}

s|Label {
	fontSize: 20px;
}

.error {
	color: #FF0000;
	fontWeight: bold;
}
.title {
	fontSize: 22px;
	fontWeight: bold;
}